
.mr-section{
    width: 790px;
    height: 273px;
    border: 2px solid #c2c2c2;
    color:#c2c2c2;
    cursor: pointer;
    text-align: center;

}
.mr-section h2{
    margin: 0px;
}

.section_2{
    width: 385px;
    height: 240px;
    border: 2px solid #c2c2c2;
    color:#c2c2c2;
    cursor: pointer;
}

.mr-preview-remove-img-section{
    position: absolute;
    top: 28px;
}

.mr-section-base{
    position: relative;
    text-align: center;
}

.mr-control-panel{
    background: rgb(34, 45, 50) none repeat scroll 0% 0%;
    border: 1px solid rgb(194, 194, 194);
}
.mr-control-panel .btn{
    border-radius: 0px;
    font-size: 20px;
    padding: 2px 8px;
}